// COLORS
$black: #121213;
$grey: #818384;

$greyAlpha: #565758;
$white: #ffffff;
$darkGreen: #538d4e;
$darkYellow: #b59f3b;
$darkGrey: #3a3a3c;
$border: $grey;
$toggleActive: $darkGreen;
$toggleInactive: $greyAlpha;

// DARK THEME
$backgroundDarkTheme: $black;
$colorDarkTheme: $white;

// LIGHT THEME
$backgroundLightTheme: $white;
$colorLightTheme: $black;
