@import "../../styles/abstract/abstracts";

.navbar {
    width: 100vw;

    display: grid;
    place-items: center;

    border-bottom: 0.1rem solid $border;

    height: 8vh;

    h3 {
        font-size: 2.4rem;
    }
}
